__pycache__
.env
.learn
../data/raw/train/*.jpg
../data/raw/test1/*.jpg
../data/raw/train
../data/raw/test1
data
../data
../test1
../train
test1
train
*.jpg
raw
data/raw
app.py
src/app.py
../src/app.py
deep_learning/src/app.py
../Deep_learning/src/app.py
../src/explore.ipynb
requirements.txt
data/
C:\Users\loren\Documents\GitHub\Deep-learning\requirements.txt